* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #333;
  font-family: sans-serif;
}

header,
main,
footer {
  width: 800px;
  margin: 10px auto;
  background-color: rgb(255, 162, 0);
  padding: 30px;
}

main {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 150px;
  width: 150px;
  border: 1px solid #555;
  border-radius: 2px;
  justify-content: center;
  text-align: center;
  background: white;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}
